*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    outline: none;
    list-style-type: none;
    text-align: center;
}
.container{
    width: 100%;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}
.nav a{
    margin: 0 15px;
    color: black;
    opacity: 0.8;
}
nav button{
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    background-color: grey;
}
button:hover{
    background-color: black;
    color: grey;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.kln{
    font-family: 'Koulen';
    letter-spacing: 3px ;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(image/bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 68vh;
    color: #fff;
}
.btn h1{
    font-size: 50px;
}
.btn button{
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    margin: 30px 0;
    background-color: black;
}

.product{
    text-align: center;
    height: 90vh;
}
.cards{
    border: none;
}
.card{
    width: 500px;
    height: 400px;
}
.lrm{
    text-align: center;
}
.cards{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.card img{
    width: 500px;
    height: 400px;
}
.lrm h1 {
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 15px;
}     
.lrm p{
    opacity: .8;
}
.pro{
    padding-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15vh;
}
.box{
    width: 250px;
    height: 300px;
}
.box img{
    width: 250px;
    height: 300px;
}
.btn2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: url(image/office-bg.png) no-repeat;
    width: 100%;
    background-size: cover;
    height: 68vh;
    margin-bottom: 30px;
} 

.btn2 button{
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    margin: 30px 0;
    background-color: black;
}
main{
    height: 90vh;
}
.img{
    padding: 30px;
    width: 100%;
    height: 90vh;
}
.img  h1 {
    margin: 30px;
    font-family: 'Koulen';
}
.img  p {
    margin: 30px;
    opacity: .78;
    width: 90%;
}